@import 'core.import'



form-message()
  font-size 12px
  font-weight 300
  line-height 18px
  font-style italic
  text-transform none
  color darken(white, 50%)
  &.c-error
    color red


// ------------------------------------------------------


.c-form-element
  font-family 'Open Sans', sans-serif

  label
    text-transform uppercase
    font-size 8pt
    font-weight 600
    color darken(white, 35%)
    cursor default

  .c-message
    form-message()


.c-form-message
  form-message()
