@import 'core.import'


.c-content-editable

  // CONTENT STYLES ------------------------------------------------------

  p, h1, h2
    font-family $SANS
    margin 0px !important
    color #333

  h1, h2
    font-weight 700

  h1
    font-size 24px
    letter-spacing -0.35px
    line-height 40px

  h2
    font-size 18px
    line-height 30px

  p
    font-size 14px
    font-weight 400
    line-height 20px



