@import 'core.import'


.c-checkbox
  position relative
  font-size 14px
  user-select none

  label.checkbox
    line-height 16px

  .c-label
    text-transform none
    font-size 13px
    font-weight 600
    padding-left 3px
    color darken(white, 50%)


  &.is-disabled
    cursor default
    .c-label, .c-message
      opacity 0.3


  &.is-child
    padding-top 12px

  .c-message
    // See also [common.styl]
    margin-top 3px
    padding-left 18px

  .c-twisty
    abs-pos -13, 6, null, null
    cursor pointer
    opacity 0.3

  .c-children
    margin-left 20px
    overflow hidden
    height 0
    label.checkbox
      margin-bottom 12px

  &.is-loaded
    .c-children
      transition height 0.3s

  .c-required
    position relative
    color red
    top -3px

