@import 'core.import'


.c-checkbox
  position relative
  user-select none

  &.is-child
    padding-top 12px

  .c-twisty
    abs-pos -13, 6, null, null
    cursor pointer
    opacity 0.3

  .c-children
    margin-left 42px
    overflow hidden
    height 0
    .c-checkbox-slider
      margin-bottom 10px

  &.is-loaded
    .c-children
      transition height 0.3s

  .c-required
    position relative
    color red
    top -3px

