@import 'core.import'


.c-radio
  GREEN = #4cd864
  outline none
  display inline-block
  cursor pointer
  box-sizing border-box
  position relative

  &.c-disabled
    opacity 0.4
    cursor default


  // ---------------------------------

  .c-bullet-outer
    abs-pos 0, 0, null, null
    display inline-block


  .c-bullet
    abs-pos 0, 0, 0, 0
    border-radius 50%
    border-style solid


  .c-bullet-checked
    border-radius 50%
    background GREEN
    opacity 0
    transform scale(0.7)
    DURATION = 0.2s
    transition opacity DURATION, transform DURATION

  &.c-checked
    .c-bullet-checked
      opacity 1
      transform scale(1)


  // ---------------------------------

  .c-focus
    opacity 0
    transition opacity 0.4s
    border-radius 50%
    background rgba(black, 0.03)

  &:focus
    .c-focus
      opacity 1


  // ---------------------------------

  .c-label
    display inline-block
    color darken(white, 65%)
    vertical-align middle

  .c-message
    color darken(white, 65%)



  // SIZES ------------------------------------------------------


  bullet-size(SIZE, BORDER_WIDTH, CHECKED_SIZE, FOCUS_MARGIN)
    min-height SIZE
    > .c-bullet-outer
      size(SIZE, SIZE)
      > .c-bullet
        BULLET_SIZE = SIZE - (BORDER_WIDTH * 2)
        size(BULLET_SIZE)
        border-width BORDER_WIDTH
        > .c-bullet-checked
          size(CHECKED_SIZE)
          EDGE = (BULLET_SIZE - CHECKED_SIZE) / 2
          abs-pos(EDGE, EDGE, null, null)

      > .c-focus
        NEGATIVE_MARGIN = 0 - FOCUS_MARGIN
        abs-pos(NEGATIVE_MARGIN, NEGATIVE_MARGIN, NEGATIVE_MARGIN, NEGATIVE_MARGIN)


  // ----------------------------------

  &.c-size-22
    bullet-size(22px, 2px, 12px, 8px)
    padding-left 30px
    line-height 18px
    .c-label
      font-size 14px
      font-weight 400
    .c-message
      font-size 12px
      line-height 16px
      margin-top 6px

  // ----------------------------------

  &.c-size-34
    bullet-size(34px, 4px, 18px, 12px)
    padding-left 44px
    line-height 28px
    .c-label
      font-size 18px
      font-weight 300
    .c-message
      font-size 14px
      line-height 18px
      margin-top 8px


  // COLORS ------------------------------------------------------

  &.c-not-checked
    .c-bullet
      border-color rgba(black, 0.2)

  &.c-checked
    .c-bullet
      border-color GREEN
      background white




